

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


html {
  font-size: 62.5%;
}

/*? base style */

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 32rem; */
  min-height: 100vh;
}  